$primary_color_dark: #444754;
$primary_color_light: #ffffff;

$primary_active_color: #4294e6;

$state_error_color: #E54D42;
$state_warning_color: #ffb648;
$state_info_color: #1E90FF;
$state_success_color: #1abc9c;

