$sidebar_normal_width: 6rem;
$navbar_normal_height: 4rem;
$sidebar_extra_width_global: 40rem;

$z_index_navbar:            140 !default;
$z_index_navbarExtra:       110 !default;
$z_index_sidebar:           120 !default;
$z_index_sidebarExtra:      130 !default;

$z_index-absolute:          900 !default;
$z_index-dropdown:          1000 !default;
$z_index-sticky:            1020 !default;
$z_index-fixed:             1030 !default;
$z_index-modal-overlay:     1040 !default;
$z_index-modal:             1050 !default;
$z_index-alert:             1060 !default;
$z_index-tooltip:           1070 !default;
$z_index-close:             1075 !default;
$z_index-loading:           1080 !default;
