$btn_bg: $primary_color_dark;
$btn_text_color: $primary_color_light;
$btn_text_color_dark: $primary_color_dark;
$btn_blue: $primary_active_color;
$btn_active: $primary_active_color;
$btn_white: darken($primary_color_light, 2%);
$btn_bg_border: darken($primary_color_light, 10%);

.btn{
  background-color: $btn_bg;
  height: 3.5rem;
  padding: 0 2rem;
  color: $btn_text_color;
  @include fontRegular;
  @include border-radius(5px);
  &:disabled{
    opacity: .5 !important;
    cursor: not-allowed !important;
  }
}

.btn--container{
  position: relative;
}

.btn--blue{
  background-color: $btn_blue;
  &:hover{
    background-color: lighten($btn_blue, 10%);
  }
}

.btn--white{
  background-color: $btn_white;
  border: 1px solid $btn_bg_border;
  color: $btn_text_color_dark;
  &:hover{
    background-color: darken($btn_white, 10%);
  }
}

.btn--active{
  color: $btn_active;
}

.btn--withIcon{
  &.btn--withIcon-right{
    .btn{
      padding-left: 2rem;
      padding-right: 4.5rem;
    }
    i{
      right: 2rem;
      left: initial;
    }
  }
  &.btn--withIcon-dark{
    i{
      color: $btn_text_color_dark;
    }
  }
  .btn{
    padding-left: 4.5rem;
  }
  i{
    pointer-events: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: $btn_text_color;
    @include fullscreen(absolute, 0, initial, 0, 2rem);
  }
}

.btn--onlyIcon{
  padding: 0 1rem;
}

.btn--dropdown-box{
  background-color: $btn_white;
  border: 1px solid $btn_bg_border;
  color: $btn_text_color_dark;
  width: 100vw;
  max-width: 20rem;
  z-index: $z_index-dropdown;
  @include border-radius(5px 0 5px 5px);
  @include fullscreen(absolute, 3.2rem, 0);
}

.btn--dropdown-box-inner{
  padding: 1.5rem;
  ul{
    li{
      margin: 1rem 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  i{
    color: $font_primary_dark;
    pointer-events: initial;
    display: inline-block;
    @include fullscreen(relative, -1px, initial, initial, initial);
  }
}
