$label_color: lighten($primary_color_dark, 30%);

.form{
  width: 100%;
}

.form_box{
  margin: 2rem 0;
  position: relative;
}

.form_box--field{
  position: relative;
  .icon-info, .icon-checked-circle, .icon-question-rounded-full{
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 10;
    color: $state_error_color;
    cursor: help;
    font-size: 1.4rem;
  }
  .icon-checked-circle{
    cursor: initial;
  }
  .icon-checked-circle{
    color: $state_success_color;
  }
  .icon-question-rounded-full{
    color: $state_info_color;
  }
}

.form_box--icon{
  position: relative;
  i{
    pointer-events: none;
    font-size: 1.4rem;
    color: $state_info_color;
    @include fullscreen(absolute, 1rem, 1rem);
    &.icon_clickable{
      cursor: pointer;
      pointer-events: initial;
    }
    &:hover{
      color: lighten($state_info_color, 10%);
    }
  }
}

.form_label{
  height: 1rem;
  line-height: 1rem;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: $label_color;
  @include fontSemiBold;
}

.form_label--required{
  color: $state_error_color;
  margin-left: .5rem;
}

.form_notification{
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: .5rem;
  min-height: 1.5rem;
}

.form_notification--error{
  color: $state_error_color;
}
