@import "../../../assets/styles/variables/variables";
@import "../../../assets/styles/helpers/mixins";
@import "../../../assets/styles/layout/typography";

$input_bg_border: darken($primary_color_light, 10%);
$input_bg_border_focus: $primary_active_color;
$input_text_color: $primary_color_dark;
$input_bg_border_hover: darken($primary_color_light, 0%);

.form_input{
  padding: 0 1rem;
  vertical-align: middle;
  width: 100%;
  color: $input_text_color;
  font-size: 1.2rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border: 1px solid $input_bg_border;
  background-color: transparent;
  @include border-radius(5px);
  @include fontMedium;
  &:disabled{
    opacity: .5 !important;
    cursor: not-allowed !important;
  }
  &::placeholder {
    color: lighten($input_text_color, 20%);
    @include fontRegular;
  }
  &:focus {
    border: 1px solid $input_bg_border_focus;
    &::placeholder {
      color: lighten($input_text_color, 10%);
    }
  }
}

input{
  &.ng-valid{
    &:focus{
      border: 1px solid $state_success_color !important;
    }
  }
  &.ng-invalid{
    &:focus{
      border: 1px solid $state_error_color !important;
    }
  }
}

// Input type checkbox

$checkbox_hover_active_color: $state_success_color;
$checkbox_border_color: lighten($primary_color_dark, 30%);
$checkbox_label_color: $primary_color_dark;
$checkbox_size: 1.6rem;

.checkbox_wrapper{

}

.checkbox_container{
  position: relative;
}

.form_checkbox{
  display: none;
}

.form_input--disabled{
  opacity: .5 !important;
  cursor: not-allowed !important;
}

.form_checkbox--label{
  height: $checkbox_size;
  display: inline-block;
  cursor: pointer;
  span{
    position: relative;
    top: 1px;
  }
}

.form_checkbox--label-before{
  &:hover{
    &:before{
      color: $checkbox_hover_active_color;
    }
  }
  &:before{
    color: $checkbox_border_color;
    font-family: 'icomoon' !important;
    content: "\ea53";
    font-size: $checkbox_size;
    vertical-align: middle;
    margin-right: .5rem;
    @include border-radius(100%);
    @include transition(0.2s linear);
  }
}

.form_checkbox--label-after{
  &:hover{
    &:after{
      color: $checkbox_hover_active_color;
    }
  }
  &:after{
    color: $checkbox_border_color;
    font-family: 'icomoon' !important;
    content: "\ea53";
    font-size: $checkbox_size;
    vertical-align: middle;
    margin-left: .5rem;
    @include border-radius(100%);
    @include transition(0.2s linear);
  }
}

.form_checkbox:checked + .form_checkbox--label-before{
  &:before{
    color: $checkbox_hover_active_color;
    content: "\ea52";
    @include animation(pulse .5s ease-out);
  }
}

.form_checkbox:checked + .form_checkbox--label-after{
  &:after{
    color: $checkbox_hover_active_color;
    content: "\ea52";
    @include animation(pulse .5s ease-out);
  }
}

.form_checkbox:disabled + .form_checkbox--label-after, .form_checkbox:disabled + .form_checkbox--label-before{
  opacity: .3;
  cursor: not-allowed;
}

.form_checkbox--label-name{
  font-weight: 600;
  color: $checkbox_label_color;
}

// Input type checkbox

$checkbox_hover_active_color: $checkbox_hover_active_color;
$checkbox_border_color: $checkbox_border_color;
$checkbox_label_color: $checkbox_label_color;
$checkbox_size: $checkbox_size;

.radio_wrapper{

}

.radio_container{
  position: relative;
}

.form_radio{
  display: none;
}

.form_radio--label{
  height: $checkbox_size;
  display: inline-block;
  cursor: pointer;
  span{
    position: relative;
    top: 1px;
  }
}

.form_radio--label-before{
  &:hover{
    &:before{
      color: $checkbox_hover_active_color;
    }
  }
  &:before{
    color: $checkbox_border_color;
    font-family: 'icomoon' !important;
    content: "\ea56";
    font-size: $checkbox_size;
    vertical-align: middle;
    margin-right: .5rem;
    @include border-radius(100%);
    @include transition(0.2s linear);
  }
}

.form_radio--label-after{
  &:hover{
    &:after{
      color: $checkbox_hover_active_color;
    }
  }
  &:after{
    color: $checkbox_border_color;
    font-family: 'icomoon' !important;
    content: "\ea56";
    font-size: $checkbox_size;
    vertical-align: middle;
    margin-left: .5rem;
    @include border-radius(100%);
    @include transition(0.2s linear);
  }
}

.form_radio:checked + .form_radio--label-before{
  &:before{
    color: $checkbox_hover_active_color;
    content: "\ea54";
    @include animation(pulse .5s ease-out);
  }
}

.form_radio:checked + .form_radio--label-after{
  &:after{
    color: $checkbox_hover_active_color;
    content: "\ea54";
    @include animation(pulse .5s ease-out);
  }
}

.form_radio:disabled + .form_radio--label-after, .form_radio:disabled + .form_radio--label-before{
  opacity: .3;
  cursor: not-allowed;
}

.form_radio--label-name{
  font-weight: 600;
  color: $checkbox_label_color;
}

@keyframes pulse {
  from {
    box-shadow:  0 0 0 0 rgba(66,148,230,1)
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255, 255, 255, .05)
  }
}
