$modal_container_bg: $primary_color_light;

.modal_overlay{
  z-index: $z_index-modal;
  background-color: rgba(0, 0, 0, .5);
  @include fullscreen(fixed, 0, 0, 0 ,0);
}

.modal_wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.modal_container{
  position: relative;
  width: 100vw;
  max-width: 1280px;
  max-height: 90vh;
  overflow: auto;
  background-color: $modal_container_bg;
  padding: 3rem;
  @include border-radius(5px);
  @media only screen and (max-width: 768px) {
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    @include border-radius(0);
  }
}

.modal_container--small{
  max-width: 768px;
}

.modal_close{
  @include fullscreen(absolute, 1rem, 1rem);
  i{
    font-size: 2rem;
    &:hover{
      color: $state_error_color;
    }
  }
}
