$hamburger_bg: $primary_color_dark;
$hamburger_hover: $primary_active_color;

.premade-hamburger {
  width: 2.4rem;
  height: 2.3rem;
  position: relative;
  cursor: pointer;
  display: none !important;
  @include transition(.5s ease-in-out);
  @include transform(rotate(0deg));
  &.hamburger_normal{
    @media only screen and (max-width: 768px) {
      display: block !important;
    }
  }
  &.hamburger_sidebarExtra{
    span{
      &:nth-child(1){
        width: 1.5rem;
        right: 0;
        left: initial;
      }
      &:nth-child(2){

      }
      &:nth-child(3){
        width: 1.5rem;
        right: 0;
        left: initial;
      }
    }
    &.open{
      span{
        &:nth-child(1){
          @include transform(rotate(0));
        }
        &:nth-child(2){
          opacity: 1;
          left: 0;
        }
        &:nth-child(3){
          @include transform(rotate(0));
        }
      }
    }
    &.hamburger_sidebarExtra--show{
      @media only screen and (max-width: 1280px) {
        margin-right: 1rem;
        display: block !important;
      }
    }
  }
  &:hover{
    span{
      background: $hamburger_hover;
    }
  }
  span{
    display: block;
    position: absolute;
    height: .2rem;
    width: 100%;
    background: $hamburger_bg;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(.25s ease-in-out);
    @include border-radius(.9rem);
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2){
      top: 1rem;
    }
    &:nth-child(3){
      top: 2rem;
    }
  }
  &.open{
    span{
      &:nth-child(1){
        top: 1rem;
        @include transform(rotate(135deg));
      }
      &:nth-child(2){
        opacity: 0;
        left: -6rem;
      }
      &:nth-child(3){
        top: 1rem;
        @include transform(rotate(-135deg));
      }
    }
  }
}
