$html_bg: $primary_color_light;
$scrollBar_color: $primary_color_light;
$scrollBar_bg: $primary_color_dark;
$main_wrapper_bg: $primary_color_light;

html{
  background-color: $html_bg;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollBar_bg;
  border: .2rem solid $scrollBar_color;
  @include border-radius(1rem);
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$navbar_height: $navbar_normal_height;

.main_wrapper{
  position: relative;
  top: $navbar_height;
  height: 100vh;
  // :todo: - Navbar height value
  max-height: calc(100vh - 4rem);
  overflow: auto;
  background-color: $main_wrapper_bg;
}

.main_wrapper--navbarExtra{
  max-height: calc(100vh - 8rem);
  &.breakpoint_960{
    top: 8rem;
  }
}

.main_content{
  background-color: $main_wrapper_bg;
  min-height: 100%;
}

.main_content--box{
  padding: 1.5rem;
}

.main_content--box-header{
  border-bottom: 1px solid darken($main_wrapper_bg, 10%);
  background-color: darken($main_wrapper_bg, 2%);
  @media only screen and (max-width: 768px) {
    padding: 1rem 1.5rem;
  }
}

.content--box{
  padding: 2rem;
}


