@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
$font_style_primary: 'Poppins', sans-serif;

// Desc: Font Size, Weight, Line Height, Letter Spacing (If values are not passed it will use default values)
@mixin fontSWHS($fontSize: 1.4rem, $fontWeight: 400, $fontLineHeight: initial, $fontSpacing: initial) {
  // Normal font scale
  $font_scale: 1;
  font-size: $font_scale * $fontSize !important;
  font-weight: $fontWeight !important;
  line-height: $fontLineHeight !important;
  letter-spacing: $fontSpacing !important;
   //Change font scale for wide desktops
  //@media only screen and (min-width: 1441px) {
  //  $font_wide_desktop_scale: 1.15;
  //  font-size: $font_wide_desktop_scale * $fontSize;
  //  font-weight: $fontWeight;
  //  line-height: $fontLineHeight;
  //  letter-spacing: $fontSpacing;
  //}
  // Change font scale for mobile
  //@media only screen and (max-width: 576px) {
  //  $font_mobile_scale: 0.75;
  //  font-size: $font_mobile_scale * $fontSize;
  //  font-weight: $fontWeight;
  //  line-height: $fontLineHeight;
  //  letter-spacing: $fontSpacing;
  //}
}

$font_color: $primary_color_dark;

html {
  font-family: $font_style_primary !important;
  font-size: 62.5% !important; // 1 rem = 10 px
  /* Better Font Rendering */
  @include fontSmoothing;
}

body{
  color: $font_color;
  @include fontSWHS(1.2rem, 400, initial, initial);
}

button, input, select, textarea, a, p, option, table{
  font-family: $font_style_primary !important;
}

p{
  @include fontSWHS(1.2rem, 400, 2rem, initial);
}

a{
  &.activeLinkNormal{
    color: $primary_active_color;
  }
}
