.normal--dropdown-box{
  background-color: $btn_white;
  border: 1px solid $btn_bg_border;
  color: $btn_text_color_dark;
  width: 100vw;
  max-width: 20rem;
  z-index: $z_index-dropdown;
  @include border-radius(0 0 5px 5px);
  @include fullscreen(absolute, initial, 0);
}

.normal--dropdown-box-inner{
  padding: 1.5rem;
  ul{
    li{
      line-height: initial;
      margin: 1rem 0;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
