.initials{
  text-align: center;
  color: $primary_color_light;
  @include border-radius(5px);
}

.initials--align-middle{
  vertical-align: middle;
}

.initials--small{
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
}

.initials--medium{
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
}

.initials--large{
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  font-size: 4rem;
}

.initials--rounded{
  @include border-radius(100%);
}
