$table_border_color: darken($primary_color_light, 10%);
$table_bg_color: $primary_color_light;
$header_font_color: $primary_color_dark;
$table_font_color: $primary_color_dark;
$arrows_color: $primary_color_dark;
$arrows_color_active: $primary_active_color;
$table_row_hover: darken($table_bg_color, 2%);

.table{
  overflow-y: hidden;
  overflow-x: auto;
}

.table_header--actions{
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

table{
  border-collapse: collapse;
  width: 100%;
  min-width: 100rem;
  background-color: $table_bg_color;
  th, td {
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
    margin: 0;
    border-top: 1px solid $table_border_color;
    @include fontRegular;
    &:first-child{
      padding-left: 2rem;
    }
    &:last-child{
      padding-right: 2rem;
    }
  }
  td{
    color: $table_font_color;
    height: 3.5rem;
    line-height: 3.5rem;
  }
  th{
    color: $header_font_color;
    height: 3rem;
    padding: .5rem 0;
    i{
      color: $arrows_color;
      cursor: pointer;
      font-size: 1.2rem;
      @include transition(0.2s linear);
      &.active{
        color: $arrows_color_active;
      }
    }
  }
  thead{
    .table_filter--name{
      @include fontSemiBold;
    }
    tr{
      th{
        padding: .5rem 0;
        background-color: $table_row_hover;
      }
    }
  }
  tbody{
    tr{
      &:hover, &.active{
        background-color: $table_row_hover;
      }
    }
  }
}

$table_limit_text_color: $primary_color_dark;

.table_limit_pagination{
  height: 3.5rem;
  line-height: 3.5rem;
  .display_flex{
    @media only screen and (max-width: 468px) {
      flex-direction: column;
    }
  }
}

.table_limit{
  span{
    color: $table_limit_text_color;
  }
}

$table_pagination_box_border_color: darken($primary_color_light, 10%);
$table_pagination_box_color: $primary_color_light;
$table_pagination_box_color_hover: darken($primary_color_light, 10%);
$table_pagination_box_color_active: $primary_active_color;
$table_pagination_box_color_active_font: $primary_color_light;
$table_pagination_arrows_color: $primary_color_dark;
$table_pagination_number_color: $primary_color_dark;

.table_pagination{

  .table_pagination_box{
    height: 3rem;
    line-height: 3rem;
    min-width: 3rem;
    text-align: center;
    background-color: $table_pagination_box_color;
    border: 1px solid $table_pagination_box_border_color;
    display: inline-block;
    margin: 0 .2rem;
    font-size: 1.2rem;
    @include border-radius(4px);
    &.active{
      background-color: $table_pagination_box_color_active;
      color: $table_pagination_box_color_active_font;
    }
    &:hover{
      background-color: $table_pagination_box_color_hover;
      color: $table_pagination_number_color;
    }
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    input{
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      top: -1px;
      width: 100%;
      text-align: center;
      border: none;
      font-size: 1.2rem;
      @include border-radius(4px);
      &:hover{
        background-color: transparent;
      }
    }
  }

  .table_pagination--input{
    max-width: 8rem;
  }

  .table_pagination--prev, .table_pagination--next{
    color: $table_pagination_arrows_color;
    i{
      font-size: 1rem;
    }
  }

  .table_pagination--number{
    color: $table_pagination_number_color;
  }

}
